@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .all-\[unset\] {
    all: unset;
  }
}

:root {
  --bg: rgba(19, 19, 19, 1);
  --blue: rgba(0, 140, 255, 1);
  --gray-1: rgba(23, 23, 23, 1);
  --gray-2: rgba(31, 31, 31, 1);
  --gray-3: rgba(47, 47, 47, 1);
  --gray-4: rgba(119, 119, 119, 1);
  --white: rgba(255, 255, 255, 1);
}

@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

body {
  background-color: var(--bg);
  color: var(--white);
}

[contentEditable="true"]:empty:before {
  content: attr(data-placeholder);
  color: gray;
}
